*{
    direction: rtl;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow: none;
}
:root{
    --Color1:rgb(255, 159, 28);
    --Color2:rgb(255, 191, 105);
    --Color3:rgb(255, 255, 255);
    --Color4:rgb(203, 243, 240);
    --Color5:rgb(46, 196, 182);
}
form{
    background-color: var(--Color2);
    display: grid;
    gap: 25px;
    padding: 10px;
    width: 100%;
    justify-items: center;
    align-items: center;
}
form#MyForm  div{
    width: 100%;
}
form#MyForm  div label , form#MyForm  div input{
    display: block;
}
label , input{
    font-size: x-large;
    margin: 5px;
}
form div label{
    font-weight: 800;
    color: var(--Color3);
}
form div input{
    padding: 6px;
    border: none;
    border-radius: 6px;
}

form input[type="submit"],button , select{
    padding: 6px 20px;
    border-radius: 5px;
    border: 2px solid var(--Color4);
    color: var(--Color5);
    font-size:xx-large ;
    transition: 1s;
}
form input[type="submit"]:hover , button:hover , select:hover{
    background-color: var(--Color5);
    color: var(--Color4);
    cursor: pointer;
}

.Large{
    width: 95%;
    margin: auto 2.5%;
}

article{
    width: 100%;
    padding: 2%;
    background-color: var(--Color4);
    color: var(--Color3);
    display: grid;
    justify-items: center;
    align-items: center;
}
article img{
    height: 100%;
    width: 60%;
    border-radius: 100%;
}
article h1{
    font-size: xx-large;
}
article h1 span{
    color: var(--Color1);
}
section{
    position: relative;
    max-width: 2000px;
    overflow-x: scroll;
    height: auto;
}
section > div{
    position: sticky;
    top: 0;
    right: 0;
    width: 1775px;
    padding: 2%;
    background-color: var(--Color4);
    color: var(--Color3);
}

section div > div {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section div >  div:first-of-type{
    font-size: larger;
    background-color: var(--Color1);
}

section div >  div h1:nth-of-type(2) ,h3:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 4;
}

section div >  div:not(div:first-of-type){
    font-size: larger;
    background-color: var(--Color3);
    color: var(--Color1);
}

section div >  div:last-of-type{
    font-size: larger !important;
    background-color: var(--Color1) !important;
    color: var(--Color3) !important;
}

section div >  div:last-of-type h1:first-of-type{
    grid-column-start: 1;
    grid-column-end: 6;
}
section div >  div:last-of-type h1:last-of-type{
    grid-column-start: 6;
    grid-column-end: 10;
}
footer{
    background-color: var(--Color4);
    padding-right: 25px;
}
footer ol {
    margin: 0;
    padding: 50px;
}
footer ol li{
    font-size: xx-large;
    color: var(--Color5);
    text-decoration: wavy;
    line-height: 2;
}

footer div div label, footer div div input{
    font-size: xx-large;
    color: var(--Color5);
    text-decoration: wavy;
    line-height: 2;
}
footer div  div:last-of-type input , footer div  div:last-of-type label{
    margin: 5px;
    font-weight: 800;
    color: var(--Color1);
    border: none;
    border-radius: 6px
}
.Container{
    padding: 10px;
    display: inline-block;
    background-color: var(--Color2);
    width: 100%;
    display: grid;
    justify-items: center;
}
.Container input{
    width: 70px;
    padding: 6px;
    border: none;
    border-radius: 6px;
}
button{
    margin: 25px;
}

#MyData{
    background-color: var(--Color5);
    text-align: center;
    display: grid;
    direction: ltr;
}

#MyData h3{
    color: var(--Color3);
    font-size: x-large;
}

#MyData h3 span{
    color: var(--Color2);
}
@media (min-width: 2600px){
    form#MyForm{
        grid-template-columns: repeat(7,1fr);
    }
}
@media (min-width:1800px) and (max-width: 2599px){
    form#MyForm{
        grid-template-columns: repeat(5 ,1fr);
    }
    #Spec{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    article{
        grid-template-columns: repeat(2,1fr);
    }
    .Container{ 
        grid-template-columns: repeat(2 , 1fr);
    }
    #MyData{
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (min-width: 1290px) and (max-width: 1799px){
    form#MyForm{
        grid-template-areas: "CN CM . ." "SP SP SP SP" "HE WI NU ." "PR PA M SU";
    }
    form div:first-of-type{
        grid-area: CN;
    }
    form div:nth-of-type(2){
        grid-area: CM;
    }
    form div:nth-of-type(3){
        grid-area: SP;
    }
    form div:nth-of-type(4){
        grid-area: HE;
    }
    form div:nth-of-type(5){
        grid-area: WI ;
    }
    form div:nth-of-type(6){
        grid-area: NU ;
    }
    form div:nth-of-type(7){
        grid-area: PR ;
    }
    form div:nth-of-type(8){
        grid-area: PA ;
    }
    form div:nth-of-type(9){
        grid-area: M ;
    }
    form#MyForm >input{
        grid-area: SU;
    }
    article{
        grid-template-columns: repeat(2,1fr);
    }
    .Container{ 
        grid-template-columns: repeat(2 , 1fr);
    }
    #MyData{
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 740px) and (max-width: 1289px){
    form#MyForm{
        grid-template-areas: "CN CM" "SP SP" "HE WI" "NU PR" "M PA " "SU SU";
    }
    form div:first-of-type{
        grid-area: CN;
    }
    form div:nth-of-type(2){
        grid-area: CM;
    }
    form div:nth-of-type(3){
        grid-area: SP;
    }
    form div:nth-of-type(4){
        grid-area: HE;
    }
    form div:nth-of-type(5){
        grid-area: WI ;
    }
    form div:nth-of-type(6){
        grid-area: NU ;
    }
    form div:nth-of-type(7){
        grid-area: PR ;
    }
    form div:nth-of-type(8){
        grid-area: PA ;
    }
    form div:nth-of-type(9){
        grid-area: M ;
    }
    form#MyForm >input{
        grid-area: SU;
    }
    article{
        grid-template-columns: repeat(1,1fr);
    }
    .Container{ 
        grid-template-columns: repeat(1 , 1fr);
    }
    #MyData{
        grid-template-columns: 100%;
    }
}
@media (max-width: 739px){
    form#MyForm{
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
    }
    article{
        grid-template-columns: repeat(1,1fr);
    }
    .Container{ 
        grid-template-columns: repeat(1 , 1fr);
    }

    #MyData{
        grid-template-columns: 100%;
    }
}
@media print{
    article{
        grid-template-columns: repeat(2,1fr);
    }
    section #TheContainer >div{
        border-bottom: 2px solid var(--Color5);
    }
}