*{
    direction: rtl;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow: none;
}
:root{
    --Color1:rgb(255, 159, 28);
    --Color2:rgb(255, 191, 105);
    --Color3:rgb(255, 255, 255);
    --Color4:rgb(203, 243, 240);
    --Color5:rgb(46, 196, 182);
}
form{
    background-color: var(--Color2);
    display: grid;
    gap: 25px;
    padding: 10px;
}
form#MyForm  div label , form#MyForm  div input{
    display: block;
}
label , input{
    font-size: x-large;
    margin: 5px;
}
form div label{
    font-weight: 800;
    color: var(--Color3);
}
form div input{
    padding: 6px;
    border: none;
    border-radius: 6px;
}

form input[type="submit"],button{
    padding: 6px 20px;
    border-radius: 5px;
    border: 2px solid var(--Color4);
    color: var(--Color5);
    font-size:xx-large ;
    transition: 1s;
}
form input[type="submit"]:hover , button:hover{
    background-color: var(--Color5);
    color: var(--Color4);
    cursor: pointer;
}

article{
    width: 100%;
    padding: 2%;
    background-color: var(--Color4);
    color: var(--Color3);
    display: grid;
    justify-items: center;
    align-items: center;
}
article img{
    height: 100%;
    width: 60%;
    border-radius: 100%;
}
article div h1{
    font-size: xx-large;
}
article div h1 span{
    color: var(--Color1);
}
section{
    width: 100%;
    padding: 2%;
    background-color: var(--Color4);
    color: var(--Color3);
}

section div {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section div:first-of-type{
    font-size: larger;
    background-color: var(--Color1);
}

section div h1:nth-of-type(2) ,h3:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 4;
}

section div:not(div:first-of-type){
    font-size: larger;
    background-color: var(--Color3);
    color: var(--Color1);
}

section div:last-of-type{
    font-size: larger !important;
    background-color: var(--Color1) !important;
    color: var(--Color3) !important;
}

section div:last-of-type h1:first-of-type{
    grid-column-start: 1;
    grid-column-end: 6;
}
section div:last-of-type h1:last-of-type{
    grid-column-start: 6;
    grid-column-end: 10;
}
footer{
    background-color: var(--Color4);
    padding-right: 25px;
}
footer ol {
    margin: 0;
    padding: 50px;
}
footer ol li{
    font-size: xx-large;
    color: var(--Color5);
    text-decoration: wavy;
    line-height: 2;
}
.Container{
    padding: 10px;
    display: inline-block;
    background-color: var(--Color2);
    width: 100%;
    display: grid;
    justify-items: center;
}
.Container input{
    width: 70px;
    padding: 6px;
    border: none;
    border-radius: 6px;
}
button{
    margin: 25px;
}

@media (min-width: 1500px){
    form#MyForm{
        grid-template-columns: repeat(5 ,1fr);
    }
    #Spec{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .Large{
        width: 100%
    }
    article{
        grid-template-columns: repeat(2,1fr);
    }
    .Container{ 
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media (min-width: 890px) and (max-width: 1499px){
    .Large{
        width: 95%;
    }
    form#MyForm{
        grid-template-areas: "CN SP SP" "HE WI NU" "PR SU SU";
    }
    form div:first-of-type{
        grid-area: CN;
    }
    form div:nth-of-type(2){
        grid-area: SP;
    }
    form div:nth-of-type(3){
        grid-area: HE;
    }
    form div:nth-of-type(4){
        grid-area: WI;
    }
    form div:nth-of-type(5){
        grid-area: NU;
    }
    form div:nth-of-type(6){
        grid-area: PR;
    }
    form#MyForm >input{
        grid-area: SU;
    }
    article{
        grid-template-columns: repeat(2,1fr);
    }
    Container{ 
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media (min-width: 740px) and (max-width: 889px){
    form#MyForm{
        grid-template-areas: "CN SP" "HE WI " "NU PR " " SU SU";
    }
    form div:first-of-type{
        grid-area: CN;
    }
    form div:nth-of-type(2){
        grid-area: SP;
    }
    form div:nth-of-type(3){
        grid-area: HE;
    }
    form div:nth-of-type(4){
        grid-area: WI;
    }
    form div:nth-of-type(5){
        grid-area: NU;
    }
    form div:nth-of-type(6){
        grid-area: PR;
    }
    form#MyForm >input{
        grid-area: SU;
    }
    article{
        grid-template-columns: repeat(1,1fr);
    }
    Container{ 
        grid-template-columns: repeat(1 , 1fr);
    }
}
@media (max-width: 739px){
    form#MyForm{
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
    }
    article{
        grid-template-columns: repeat(1,1fr);
    }
    Container{ 
        grid-template-columns: repeat(1 , 1fr);
    }
}
@media print{
    article{
        grid-template-columns: repeat(2,1fr);
    }
}